 
  body > header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    background-color: #FAF9F4;
    height: 100%;
  }

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
   
}

h1,h2{margin:0;}